.card {
    border: 0;
    width: 18rem;
    box-shadow: 1px 1px 10px #222;
}

/* Mobile */
@media (min-width: 360px) and (max-width: 600px) {
    .card {
        border: 0;
        width: auto;
        box-shadow: 1px 1px 10px #222;
      }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .card {
        border: 0;
        width: auto;
        box-shadow: 1px 1px 10px #222;
      }
}