.card {
    border: 0;
    width: 18rem;
    box-shadow: 0px 0px 10px 0px #222222;
    overflow: hidden;
}


/* Shiny effect */

.card::before {
    content: "";
    z-index: 10;
    position: absolute;
    height: 200%;
    width: 200%;
    top: 100%;
    left: 100%;
    background: linear-gradient(transparent 0%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 55%, transparent 100%);
    transition: all 0.8s;
    transform: rotate(-45deg);
    animation: shine 0.5s infinite forwards;
}


/* Shiny effect */

.card:hover:before {
    left: -130%;
    top: -130%;
}

.rateContainer {
    z-index: 0;
    position: absolute;
    font-size: 18px;
    padding: 10px;
    color: #fff;
    text-shadow: 1px 1px 4px #000;
}

#ratingStarImg {
    height: 20px;
    width: 20px;
}

.card-title {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #fff;
}

.modalShadow {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modalBody {
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-radius: 5px;
    margin-top: 5%;
    margin-right: 35%;
    margin-left: 35%;
    padding: 20px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    max-height: calc(100vh - 200px);
    width: auto;
    background-color: #222;
    overflow-y: auto;
}

.backSidePosterContainer {
    text-align: center;
}

.card-text {
    padding: 8px;
    color: #fff;
}

.closeModal {
    text-align: center;
    color: #fff;
}

.btnContainer {
    text-align: center;
}

.infoBtn {
    background: #4e7ca3;
    border: 0px solid #556699;
    border-radius: 1000px;
    padding: 5px 40px;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    text-align: center;
}

.infoBtn:hover {
    background: #91badf;
    border: 0px solid #556699;
    border-radius: 1000px;
    padding: 5px 40px;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    text-align: center;
}


/* Mobile */

@media (min-width: 360px) and (max-width: 600px) {
    .card {
        border: 0;
        width: auto;
        box-shadow: 1px 1px 10px #222;
    }
    .modalShadow {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.8);
    }
    .modalBody {
        border-width: 1px;
        border-style: solid;
        border-color: #fff;
        border-radius: 5px;
        margin-top: 20%;
        margin-right: 5%;
        margin-left: 5%;
        padding: 20px;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        max-height: calc(100vh - 200px);
        width: auto;
        background-color: #222;
        overflow-y: auto;
    }
    .backSidePosterContainer {
        text-align: center;
    }
    .card-text {
        padding: 8px;
        color: #fff;
    }
    .closeModal {
        text-align: center;
        color: #fff;
    }
}


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {
    .card {
        border: 0;
        width: auto;
        box-shadow: 1px 1px 10px #222;
    }
    .modalShadow {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.8);
    }
    .modalBody {
        border-width: 1px;
        border-style: solid;
        border-color: #fff;
        border-radius: 5px;
        margin-top: 20%;
        margin-right: 20%;
        margin-left: 20%;
        padding: 20px;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        max-height: calc(100vh - 200px);
        width: auto;
        background-color: #222;
        overflow-y: auto;
    }
    .backSidePosterContainer {
        text-align: center;
    }
    .card-text {
        padding: 8px;
        color: #fff;
    }
    .closeModal {
        text-align: center;
        color: #fff;
    }
}