.container-fluid {
    min-height: 100%;
}

.HomeBox {
    margin-top: 10%;
    margin-bottom: 10%;
    border: 0;
    border-radius: 16px;
    box-shadow: 0 12px 18px 2px rgba(34, 0, 51, .04), 0 6px 22px 4px rgba(7, 48, 114, .12), 0 6px 10px -4px rgba(14, 13, 26, .12);
    background-color: #222;
    color: #fff;
}

.HomeTitle {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.HomeSubText {
    margin-right: 10%;
    margin-left: 10%;
    /*  background-color: forestgreen; */
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.secondHomeTitle {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 20px;
}

.homeCardGrid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.movieDBContainer {
    text-align: center;
}


/* Mobile */

@media (min-width: 360px) and (max-width: 600px) {
    .homeCardGrid {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .HomeSubText {
        margin-right: 5%;
        margin-left: 5%;
        /*  background-color: forestgreen; */
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }
    .secondHomeTitle {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-size: 20px;
    }
}


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {
    .homeCardGrid {
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .HomeSubText {
        margin-right: 5%;
        margin-left: 5%;
        /*  background-color: forestgreen; */
        font-family: 'sans-serif';
        font-size: 16px;
    }
    .secondHomeTitle {
        text-align: center;
        font-family: 'sans-serif';
        font-style: italic;
        font-size: 20px;
    }
}