.Footer {
    background-color: #222;
    display: flex;
}

.linkContainer {
    float: right;
    padding: 5px;
}

.linkImg {
    width: auto;
    height: 40px;
    margin: 5px;
}

.footerText {
    float: left;
    padding: 5px;
    margin-top: 15px;
    font-family: georgia, garamond, serif;
    color: #fff;
}


/* Mobile */

@media (min-width: 360px) and (max-width: 600px) {
    .Footer {
        background-color: #222;
        display: flex;
    }
    .linkContainer {
        padding: 5px;
        width: 100%;
        text-align: center;
    }
    .linkImg {
        width: auto;
        height: 40px;
        margin: 5px;
    }
    .footerText {
        padding: 5px;
        width: 100%;
        text-align: center;
        margin-top: 0px;
        font-family: georgia, garamond, serif;
        color: #fff;
    }
}


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {
    .Footer {
        background-color: #222;
        display: flex;
    }
    .linkContainer {
        float: right;
        padding: 5px;
    }
    .linkImg {
        width: auto;
        height: 40px;
        margin: 5px;
    }
    .footerText {
        float: left;
        padding: 5px;
        margin-top: 15px;
        font-family: georgia, garamond, serif;
        color: #fff;
    }
}