.cardGrid {
    margin: 4%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 30px;
}

.moviePageTitle {
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5%;
    font-size: 40px;
    color: #fff;
    /* text-shadow: 1px 1px 3px #000; */
}

.moviePageSubtext {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
}

.btnsContainer {
    text-align: center;
    margin-top: 5%;
}

.chooseBtns {
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.chooseBtns:hover {
    box-shadow: 1px 1px 10px rgb(95, 250, 242);
    text-shadow: 1px 1px 10px rgb(95, 250, 242);
}


/* .chooseBtns {
    border: 0px;
    border-radius: 30px;
    margin: 5px;
    padding: 5px;
    width: 120px;
    outline: none;
    background-color: #1cb7cc;
    color: #fff;
}
.chooseBtns:hover {
    background-color: #1cb7cc8a;
} */


/* Mobile */

@media (min-width: 360px) and (max-width: 600px) {
    .cardGrid {
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
    }
    .chooseBtns {
        border: 1px solid #fff;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
        outline: none;
        background-color: transparent;
        font-size: 15px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
    }
    .chooseBtns:active {
        box-shadow: 1px 1px 10px rgb(95, 250, 242);
        text-shadow: 1px 1px 10px rgb(95, 250, 242);
    }
}


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {
    .cardGrid {
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
    }
}