.backToTopBtnContainer {
    right: 30px;
    bottom: 30px;
}

.toTopBtn {
    opacity: 0.7;
    background-color: rgb(53, 104, 150);
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    border: none;
    color: #fff;
}

.toTopBtn:hover {
    background-color: rgb(130, 192, 243);
}